<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                

                    <div class="col-md-6 col-12 main_header_left align-items-center centerr">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="image" src="https://images.unsplash.com/photo-1594322436404-5a0526db4d13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80" class="d-block w-100" alt="...">
                              </div>
                               
                            </div>
                            
                            
                          </div>
                            <p>Welcome to Weather app</p>
                           <h1>{{errormsg}}</h1>
                           <a href="/"><button>Go Back</button></a>

                    </div>


                    
                      
                   

                    
                

            </div>
        </div>
    </div>
    <!-- Footer Code -->
   {{>footer}} 
</body>
</html>